

#contact-info {

  font-size: .8em;
}
.job {
  background-color: #e9e5dc ;
  border-radius: 10px;
  margin-top: 5px;
  padding: .5px;
}
.ul {

  font-size: .8em;
}
li:last-child {

  color: blue;
}

#hula {

  color: red;
}